<main class="min-h-screen bg-background text-text pt-20 md:pt-17">
  
  <!-- Estado de carga -->
  @if (loading()) {
    <div class="flex items-center justify-center min-h-screen">
      <p class="text-2xl">⏳ Cargando película...</p>
    </div>
  }

  <!-- Contenido cuando carga -->
  @if (!loading() && movie()) {
    
    <!-- SECCIÓN 1: Header con backdrop difuminado -->
    <div class="relative h-[400px] bg-text overflow-hidden">
      <!-- Backdrop -->
      <img
        [src]="getImageUrl(movie()!.backdrop_path, 'w1280')"
        [alt]="movie()!.title"
        (load)="onBackdropLoad()"
        [class.opacity-0]="!backdropLoaded()"
        [class.opacity-50]="backdropLoaded()"
        class="absolute inset-0 w-full h-full object-cover object-top  transition-opacity duration-700"
      />
      <!-- Degradado fuerte para legibilidad -->
      <div class="absolute inset-0 bg-linear-to-b from-text/15 via-text/5 to-background"></div>
      
      <!-- Título centrado encima -->
      <div class="relative z-50 h-full flex flex-col items-center justify-center text-center px-8">
        
        <h1 class="text-4xl md:text-6xl font-bold text-accent drop-shadow-2xl mb-2">
          {{ movie()!.title }}
        </h1>
        
        @if (movie()!.tagline) {
          <p class="text-xl md:text-2xl text-accent/90 italic drop-shadow-lg">
            "{{ movie()!.tagline }}"
          </p>
        }
      </div>
    </div>

  <div class="max-w-6xl mx-auto px-8 -mt-6 relative z-30">
  
    <button (click)="goBack()" class="btn-primary">
    ← Volver
  </button>
</div>
    <div class="max-w-6xl mx-auto px-8 py-12">
      
      <div class="flex flex-col md:flex-row gap-8">
        
        <!-- Poster -->
        <div class="flex-shrink-0">
          <img
            [src]="getImageUrl(movie()!.poster_path, 'w500')"
            [alt]="movie()!.title"
            class="w-full md:w-[300px] rounded-lg shadow-2xl mx-auto"
          />
        </div>

        <!-- Info -->
        <div class="flex-1">
          
          <!-- Rating y metadatos -->
          <div class="flex flex-wrap items-center gap-4 mb-6">
            <div class="flex items-center gap-2">
              <span class="text-2xl">⭐</span>
              <span class="text-2xl font-bold text-primary">
                {{ movie()!.vote_average.toFixed(1) }}
              </span>
              <span class="text-text/60 text-sm">
                ({{ movie()!.vote_count }} votos)
              </span>
            </div>

            <span class="text-text/40">•</span>
            <span class="text-text/80">{{ movie()!.release_date }}</span>

            @if (movie()!.runtime) {
              <span class="text-text/40">•</span>
              <span class="text-text/80">{{ movie()!.runtime }} min</span>
            }
          </div>

          <!-- Géneros -->
          @if (movie()!.genres.length > 0) {
            <div class="flex flex-wrap gap-2 mb-6">
              @for (genre of movie()!.genres; track genre.id) {
                <span class="px-3 py-1 bg-primary/20 text-primary border border-primary/30 rounded-full text-sm font-medium">
                  {{ genre.name }}
                </span>
              }
            </div>
          }

          <!-- Overview -->
          <div class="mb-8">
            <h2 class="text-2xl font-bold mb-3 text-primary">Sinopsis</h2>
            <p class="text-text/80 leading-relaxed text-lg">
              {{ movie()!.overview }}
            </p>
          </div>

          <!-- Info adicional en cards -->
          <div class="grid grid-cols-2 gap-4">
            @if (movie()!.budget > 0) {
              <div class="bg-accent/10 p-4 rounded-lg border border-primary/20">
                <p class="text-text/60 text-sm mb-1">Presupuesto</p>
                <p class="text-text font-semibold text-lg">
                  ${{ movie()!.budget.toLocaleString() }}
                </p>
              </div>
            }

            @if (movie()!.revenue > 0) {
              <div class="bg-accent/10 p-4 rounded-lg border border-primary/20">
                <p class="text-text/60 text-sm mb-1">Recaudación</p>
                <p class="text-text font-semibold text-lg">
                  ${{ movie()!.revenue.toLocaleString() }}
                </p>
              </div>
            }

            
            @if (movie()!.production_countries.length > 0) {
              <div class="bg-accent/10 p-4 rounded-lg border border-primary/20">
                <p class="text-text/60 text-sm mb-1">Países</p>
                <p class="text-text font-semibold">{{ getProductionCountries() }}</p>
              </div>
            }

            @if (movie()!.production_companies.length > 0) {
              <div class="bg-accent/10 p-4 rounded-lg border border-primary/20 ">
                <p class="text-text/60 text-sm mb-1">Estudios</p>
                <p class="text-text font-semibold">{{ getProductionCompanies() }}</p>
              </div>
            }
          </div>
          
        </div>
      </div>
      @if (actors()!.length > 0) {
          <section class="mt-12">
            <p class="text-text/60 text-sm mb-1">Reparto principal</p>
             <div class="relative group">
    
              <!-- Botón izquierda -->
              <button 
                (click)="scrollActors('left')"
                class="absolute left-0 top-1/2 -translate-y-1/2 z-10 bg-primary/90 hover:bg-primary text-accent p-3 rounded-full shadow-lg opacity-0 group-hover:opacity-100 transition-opacity"
                aria-label="Anterior"
              >
                ←
              </button>
    
            <div #actorsScroll class="overflow-x-auto pb-4">
              <div class="flex gap-4">
                @for (actor of actors(); track actor.id) {
                  <div class="shrink-0 w-40">
                     <div class="relative aspect-2/3 mb-3 rounded-lg overflow-hidden">
                    @if (actor.profile_path) {
                      <img 
                      [src]="getImageUrl(actor.profile_path, 'w185')" 
                      [alt]="actor.name" 
                      class="w-full h-full object-cover hover:scale-105 transition-transform duration-300"
                      draggable="false">
                    } @else {
                      <img src="/public/images/no-actor.png" alt="actor.name" class="w-full h-full object-cover hover:scale-105 transition-transform duration-300">
                    }
                  </div>

                  <p class="font-semibold text-sm text-text line-clamp-2">{{actor.name}}</p>
                  @if (actor.character) {}
                  <p class=" text-sm text-text/75 line-clamp-2">{{actor.character}}</p>
                  </div>
                }
              </div>
            </div>
                        <button 
                (click)="scrollActors('right')"
                class="absolute right-0 top-1/2 -translate-y-1/2 z-10 bg-primary/90 hover:bg-primary text-accent p-3 rounded-full shadow-lg opacity-0 group-hover:opacity-100 transition-opacity"
                aria-label="Siguiente"
              >
                →
              </button>
            </div>
          </section>
      }

    </div>
  }

  <!-- Estado de error -->
  @if (!loading() && !movie()) {
    <div class="flex items-center justify-center min-h-screen">
      <div class="text-center">
        <p class="text-2xl mb-4">😕 No se encontró la película</p>
        <button (click)="goBack()" class="btn-primary">
          ← Volver a la lista
        </button>
      </div>
    </div>
    
  }
  
</main>