<nav class="bg-background border-b border-text/30">
  <div class="max-w-7xl mx-auto px-8 py-4">
    <div class="flex items-center justify-between">
      <!-- Logo -->
      <a routerLink="/" class="link-hover group">
        🎬 Black
      </a>

      <!-- Links -->
      <div class="flex items-center gap-6">
        <a
          routerLink="/"
          routerLinkActive="text-secondary"
          [routerLinkActiveOptions]="{exact: true}"
          class="link hover"
        >
          Inicio
        </a>
        <a
          routerLink="/movies"
          routerLinkActive="text-secondary"
          class="link-hover"
        >
          Películas
        </a>
        <a
          routerLink="/login"
          routerLinkActive="bg-secondary"
          class="px-4 py-2 btn-primary"
        >
          Login
        </a>
      </div>
    </div>
  </div>
</nav>
