<main class="max-w-7xl mx-auto px-8 py-8 bg-background min-h-screen text-text ">
  <h1 class="text-4xl font-bold mb-8 text-center mt-15">
    Las películas más populares 
  </h1>

  @if (loading()) {
    <p class="text-center text-xl">⏳ Cargando películas...</p>
  }

  @if (!loading() && movies().length > 0) {
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 list-none p-0">
      @for (movie of movies(); track movie.id) {
        <li
        (click)="goToDetail(movie.id)"
        class="card">
          <img
            [src]="getImageUrl(movie.poster_path)"
            [alt]="movie.title"
            class="w-full h-[300px] object-cover rounded mb-3"
          />
          <h2 class="text-base font-semibold mb-2 overflow-hidden text-ellipsis whitespace-nowrap">
            {{ movie.title }}
          </h2>
          <p class="text-sm text-text mb-1">
            📅 {{ movie.release_date }}
          </p>
          <p class="text-sm text-text font-semibold">
            ⭐ {{ movie.vote_average.toFixed(1) }}
          </p>
        </li>
      }
    </ul>
  }


  <div #scrollTrigger class="h-px"></div>

<!-- Estados de carga -->
@if (loadingMore()) {
  <div class="text-center py-12">
    <div class="text-5xl animate-spin inline-block mb-4">🎬</div>
    <p class="text-xl">Cargando más películas...</p>
  </div>
}

@if (!loadingMore() && hasMore()) {
  <div class="text-center py-12">
    <button
      (click)="loadMore()"
      class="px-8 py-4 btn-primary"
    >
      🎬 Cargar más películas
    </button>
  </div>
}

@if (!hasMore()) {
  <div class="text-center py-12 text-slate-400">
    <p class="text-2xl mb-2">✅ ¡Lo has visto todo!</p>
   
  </div>
}

</main>
