
@import "tailwindcss";

@theme {
  --color-text: #040316;
  --color-background: #e2bfa6;
  --color-primary: #008f94;
  --color-secondary: #8e8ebe;
  --color-accent: #ffffff;

  --font-display: 'Sixtyfour', sans-serif;
  --font-display2: 'Anta', sans-serif;
  --font-display3: 'Montserrat', sans-serif;
  
}

body {
  font-family: var(--font-display3);  /* Anta como default */
}

@layer components {
  .btn-primary {
    @apply px-6 py-3 bg-primary hover:bg-secondary text-accent font-semibold rounded-lg transition-all transform hover:scale-105 shadow-lg;
  }
  .btn-secondary {
    @apply px-2 py-1 text-lg bg-primary hover:bg-secondary/80 text-accent font-semibold rounded-lg transition-all transform hover:scale-105 shadow-lg;
  }

  .link-hover {
    @apply text-text hover:text-secondary transition-colors font-medium;
  }

  .card {
    @apply bg-accent/50 rounded-lg p-6 shadow-lg hover:shadow-xl transition-shadow cursor-pointer;
  }

  .auth-container {
  @apply min-h-screen bg-gradient-to-b from-secondary/80 via-background to-primary/80 flex items-center justify-center pt-20 px-4;
}

/* scrollbar actores */
/* 
.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-background);
}

.overflow-x-auto::-webkit-scrollbar {
  height: 16px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: var(--color-text/60);
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
} */
/* ////////////// */

/* Scrollbar m치s visible (estilo TMDB) */
.overflow-x-auto::-webkit-scrollbar {
  height: 12px;  /* M치s grueso que antes */
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 6px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 6px;
  border: 2px solid var(--color-background);  /* Borde para separar */
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

/* Firefox */
.overflow-x-auto {
  scrollbar-width: auto;  /* 'auto' es m치s grueso que 'thin' */
  scrollbar-color: var(--color-primary) var(--color-background);
}

/* Prevenir drag de im치genes */
.overflow-x-auto img {
  -webkit-user-drag: none;
  user-drag: none;
}

}

input::placeholder,
textarea::placeholder {
  @apply text-text/40;
}